@import url(firefox-csshacks/chrome/urlbar_centered_text.css);
@import url(mods/hide_tabs_bar.css);
@import url(mods/popup_search.css);

/* Hide header above sidebar */
#sidebar-header {
  display: none;
}

/* Hide the thing used to resize the sidebar */
#sidebar-splitter {
  width: 4px !important;
  margin-left: -4px !important;
  background-color: var(--toolbar-bgcolor) !important;
  border: none !important;
}

/* Hide top border above urlbar and rounded corners to match adw theme */
#nav-bar {
  border-top: none !important;
  border-radius: 12px;
}

/* Move menu to the left and other fixes */
#nav-bar {
  border-left: 0px;
  padding-left: 6px !important;
  display: flex;
  flex-direction: row-reverse;
}
#PanelUI-menu-button {
  padding: 0px !important;
}

/* Hide bottom border below urlbar */
#navigator-toolbox {
  border-bottom: none !important;
}

/* Remove url bar background when not selected */
#urlbar:not([breakout][breakout-extend], [breakout][usertyping][focused])
  > #urlbar-background {
  background-color: transparent !important;
}

/* Rounded corners on browser window when not in fullscreen */
.browserStack {
  background-color: var(--lwt-accent-color) !important;
}
.browserStack > browser {
  border-radius: 6px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 5px !important;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
[inFullscreen] .browserStack > browser {
  border-radius: 0px !important;
  margin: 0px !important;
  box-shadow: none !important;
}
