#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
  #urlbar-input {
    font-size: 16px !important;
    text-align: left !important;
  }
  #urlbar-input-container {
    height: auto !important;
  }
  #urlbar-go-button {
    margin: auto !important;
  }

  z-index: 1;
  position: fixed !important;
  padding-block: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  bottom: auto !important;
  top: 20vh !important;

  left: 18vw !important;
  right: 18vw !important;
  width: 64vw !important;

  box-shadow: 0 0 300px 100px rgba(0, 0, 0, 0.4);

  & .urlbarView-results {
    margin-top: 12px !important;
    padding-block-start: 0px !important;
  }
}
